<div>
    <div id="myexceptiongrid" class="ag-bootstrap" style="width:100%;height:700px;float:left;"></div>
</div>

<script type="text/javascript">
    $(function () {
        loglist.getExceptionLogList();
    });
</script>
